html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
    background-color:limegreen;
    margin-bottom: 15px;
    font-size: 40px;
    justify-content: center;
}
.Introdução {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}
.Descontos {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

footer{
    border-top: 1px solid #ccc;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

